body{
    background-color: #0B1D51;
    color: #F8F4EC;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bold;
    padding: 100px 200px;
}

.intro{
    display: inline;
}